{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}


{% block content %}
<h1>This is the HomePage</h1>
<ul>
    {% for e in employees %}
    <li>
        <b>{{ e.pk }}</b>- 
        {{ e.name }}- 
        {{ e.address }}- 
        {{ e.phone_number }}- 
        {{ e.salary }}- 
        {{ e.designation }}- 
        {{ e.short_description }} |
        <a href="{% url 'delete' e.pk %}"style="color: red; text-decoration: none; font-size: 1rem; padding:10px;">Delete</a>|
        <a href="{% url 'update' e.pk %}"style="color: violet; text-decoration: none; font-size: 1rem; padding:10px;">Update</a> |
        <a href="{% url 'employee_details' e.pk %}"style="color: yellowgreen; text-decoration: none; font-size: 1rem; padding:10px;">Details</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}